# Add any directories, files, or patterns you don't want to be tracked by version control
*.jpg
*.png
.idea/
node_modules/
dist/
.editorconfig
/public/images
**icons**/
**fonts**/
**vendor/
temp/
**/composer.bat
.vscode